body {
  color: #222;
  font-family: "Comic Sans MS";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.view-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  overflow: auto;
  z-index: 0;
}

.loading-shield {
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  opacity: 0.5;
  background-image: url("/client/styles/ajax_loader_blue_64.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment:fixed;
  background-position:center; 
  z-index: 1;
}

/*
 * Video list view.
 */

h1 {
  font-size: 45px;
}

.filter-container {
  margin-bottom: 32px;
}

.filter-select {
  margin-left: 16px;
}

.video-preview {
  maring-top: 32px;
  margin-bottom: 32px;
}

.preview-thumbnail {
  box-shadow: 10px 10px 5px #888;
  cursor: pointer;
}

.preview-thumbnail:hover {
  transform: translate(5px,5px);
  -ms-transform: translate(5px,5px); /* IE 9 */
  -webkit-transform: translate(5px,5px); /* Safari and Chrome */
}

.preview-thumbnail,
.preview-details {
  display: inline-block;
  vertical-align: top;
  margin-right: 32px;
}

.preview-details {
}

.preview-title,
.preview-owner {
  margin-top: 8px;
}

.preview-owner {
  font-style: italic;
}

.preview-title {
}

/*
 * Video details view.
 */
.video-details-title {
  font-size: 30px;
}

video {
  margin-top: 32px;
  margin-bottom: 32px;
}

.video-details-user,
.video-details-date-posted {
    display: inline-block;
    vertical-align: top;
}